ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
SESSION_SECRET=AKfycbzWNufYy4iNLreCKjudMJYJEN-ftDrkC2wGYfVzuPSGYCvJa9_W9pMaZI9iD1EclkJK_A
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzWNufYy4iNLreCKjudMJYJEN-ftDrkC2wGYfVzuPSGYCvJa9_W9pMaZI9iD1EclkJK_A/exec
APPS_SCRIPT_SECRET=unitedpakistan2026
ORG_NAME="United Pakistan"
SECRETARY_NAME="Abdullah Ubaid"
SECTOR_NAME="Expressway Sector"
EASYPAISA_NUMBER="03034134453"
ACCOUNT_TITLE="Abdullah Ubaid"
DEFAULT_MONTHLY_FUND=500
